@use "./variables.scss" as *;

// ── Theme colors ──────────────────────────────────────────────────────────────
:root[saved-theme="light"], :root:not([saved-theme="dark"]) {
  --light:     #f8f6f4;
  --lightgray: #e2ebd9;
  --gray:      #867066;
  --darkgray:  #38201a;
  --dark:      #210903;
  --secondary: #3b5c22;
  --tertiary:  #558237;
  article em { color: #7b3802; }
}

:root[saved-theme="dark"] {
  --light:     #14110f;
  --lightgray: #2d2622;
  --gray:      #a38a7e;
  --darkgray:  #ebdcd0;
  --dark:      #f7e8dd;
  --secondary: #92c074;
  --tertiary:  #b2df93;
  article em { color: #d39a6c; }
}

// ── Font family ───────────────────────────────────────────────────────────────
:root {
  --bodyFont:   "Atkinson Hyperlegible Next", sans-serif;
  --headerFont: "Atkinson Hyperlegible Next", sans-serif;
  --codeFont:   "Atkinson Hyperlegible Mono", monospace;
}

// ── Typography ────────────────────────────────────────────────────────────────
html {
  font-size: 16px;
}

article {
  font-size: 1rem;
  line-height: 1.7;
}

h1 { font-size: 1.8rem; }
h2 { font-size: 1.4rem; }
h3 { font-size: 1.2rem; }
h4 { font-size: 1rem; }

// ── Bold & Italic ─────────────────────────────────────────────────────────────
article strong {
  color: var(--dark);
}

// article em {
//   color: var(--dark);
// }

// ── Explorer ──────────────────────────────────────────────────────────────────
.explorer-content a {
  font-weight: normal;
}

// ── Table of contents ─────────────────────────────────────────────────────────
.toc-content a {
  font-weight: normal;
}
